.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 15vh;
  width: 100%;
  background-color: rgba(0, 224, 234, 1);
  color: black;
  img {
    height: 60px;
    display: flex;
    align-self: center;
    opacity: .9;
    background-color: rgb(255, 255, 240, 1);
  }
  i {
    font-size: 20px;
    color: rgb(4, 171, 190);
    align-self: center;
  }
  @media screen and (min-width: 379px) {
    img {
      height: 70px;
    }
    i {
      font-size: 30px;
    }
  }
  
  @media screen and (min-width: 700px){
    img {
      height: 80px;
    }
    i {
      font-size: 40px;
    }
  }
  
  @media screen and (min-width: 1280px){
    
  }
}
